
div, p {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: white;
    min-width: 100px;
    text-align: center;
}

.shadow-simple {
    box-shadow: 5px 5px #888;
}

.shadow-inset {
 box-shadow: inset 0 0 10px #888;
}

.shadow-blur {

}


.text-shadow {
    text-shadow: 2px 2px 5px #888;
}

.radius-small {
    border: 2px solid #333;
    border-radius: 5px;
}

.radius-medium {

}

.radius-circle {

}

