body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
}

* {
  box-sizing: border-box;
}
/* -------header-------- */
.header{
  overflow-y: auto ;
  
}

.header__container {
  position: sticky;
}
.header__name {
  font-size: 40px;
  margin-bottom: 2px;
}
.header__tagline {
  margin-top: 2px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

/*----- hero -------*/
.hero {
  background-color: #f0f6ff;
  padding: 1px 0 30px 0;
  margin: 20px;
}

.hero__title {
  font-size: 45px;
}

.hero__subtitle {
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #0086ff;
}

.hero__description {
  font-size: 18px;
  padding: 1% 10%;
}
.hero__actions {
  padding: 2% 10px;
}

.hero__stats {
  text-align: center;
}

.stat {
  display: inline-block;
}
.stat__number {
  color: #0086ff;
  padding: 10px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.stat__label {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: gray;
  margin: 0 10px 0 10px;
}

/*---------navbar-------- */

.nav__link:hover {
  color: #0086ff;
}

.nav__link--active {
  color: #0086ff !important;
}

.nav__link{
  text-decoration: none;
  color: gray;

}
.nav__item {
  font-size: 15px;
  font-weight: bold;
  list-style-type: none;
  padding: 2%;
  display: inline-block;

}

.nav__list {
  padding: 0px;
}

.button--primary {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 15px;
  background-color: #0086ff;
  color: white;
  text-decoration: none;
}

.button--secondary {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: white;
  padding: 12px;
  margin-left: 15px;
  border: 3px solid #0086ff;
  font-weight: bold;
  color: #0086ff;
}




/* --------- about --------- */
.about {
  margin: 10%;
}
.about__title {
  font-size: 30px;
}
.about__intro {
  font-size: 20px;
}

.about__text {
  color: gray;
  font-size: 16px;
  margin: 40px;
}


/* ---------values---------- */

.values {
  padding: 0;
  border: 20px solid white;
}
.values__title {
  font-size: 30px;
}
.values__list {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.values__item {
  background-color: #f0f6ff;
  text-align: left;
  margin: 20px;
  border: 1px solid gray;
  padding: 20px;
}

.values__item:hover {
  border: 1px solid #0086ff;
}


/* -----------Projects------- */
.projects {
  background-color:#f0f6ff;
  padding: 20px;
}
.project {
  background-color: white;
  padding: 20px;
  border: 3px solid #EDEEF0;
  margin: 20px;
  position: relative;
  text-align: left;
}
.project:hover {
  border: 3px solid #0086ff;
}
.projects__title {
  font-size: 30px;
}
.projects__description {
  font-size: 16px;
  text-align: center;
  color: gray;
  margin: 30px 20%;
}

.project__description {
  color: gray;
}

.project__title {
  font-size: 25px;
  margin-top: 40px;
}

.project__subtitle {
  margin-bottom: 5px;
}

.project__learnings {
  text-align: left;
  margin: 0px 0px 30px;
  color: gray;
}

.tag {

  font-weight: bold;
  color: #2E6C7B;
  padding: 5px;
  background-color: #DBFCFF;
  margin-right: 5px;
}

.project__links {
  padding: 20px 0px;
}

.project__link {
  text-decoration: none;
  color: #0086ff;
  font-weight: bold;
  margin: 15px 5px;
}

.project__link:hover {
  color: gray;
}

.project__badge {
  color: white;
  background-color:#0086ff;
  padding: 5px;
  position: absolute;
  top: 15px;
  left: 15px;
}

/* ---------------skills----------- */
.skills__subtitle {
  color: gray;
}

.skills__list {
  display: block;
}


/* --------contact---------- */
.contact {
  background-color: #f0f6ff;
  padding: 30px;
  margin: 20px;
  text-align: center;
}

.contact__description {
  color: gray;
}

.contact__methods {
  margin-bottom: 40px;
  justify-content: space-between;
  
}

.contact__method {
  display: inline-block;
  margin: 0px 20px 20px 20px;
  text-align: center;
  box-sizing: border-box;
}

.contact__link {
  text-decoration: none;
  color: #0086ff;
  font-weight: bold;
}



/* ----------footer------------ */

footer {
  background-color: #181A1A;
  width: 100%;
  color: gray;
}

.footer__nav {
  padding-top: 5%;
}

.footer__link {
  color: white;
  text-decoration: none;
  padding: 20px;
}
.footer__link:hover{
  color: #0086ff;
}

.footer__copyright {
  margin-bottom: 0;
}
.footer__credits {
  padding: 0px 0px 40px;
  margin: 0;
}