
.container {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    padding: 20px;
    background: gray;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    background: #3489db;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.translate-x:hover {
    transform: translateX(30px);
}

.translate-y:hover {
    transform: translateY(-30px);
}

.translate-xy:hover {
    transform: translate(20px, 20px);
}

.rotate-45:hover {
    transform: rotate(45deg);
}

.rotate-90:hover {
    transform: rotate(90deg);

}

.rotate-180:hover {
    transform: rotate(180deg);

}

.scale-small:hover {
    transform: scale(0.5);

}

.scale-large:hover {
    transform: scale(1.5);

}

.scale-x {

}

