.color-hex {
    background-color: #3498db;
}
.color-rgb {
    background-color: rgb(52, 152, 219);
}
.color-hsl {
    background-color: hsl(204, 70%, 52%);
}
.alpha-container {
    
}
.alpha-100 {
    background-color: rgba(231, 76, 60, 0.75)
}
.alpha-50 {

}
.alpha-25 {

}
.currentColor {

}
