.serif {
    font-family: serif;
    font-size: 20px;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.system {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.google-title {
    font-family: "Poppins",  sans-serif;
}

.google-text {
    font-family: "Poppins", sans-serif;
}